@model WebEstacionamentoTcc20.Models.GrupoAcesso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GrupoAcesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEst.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEst.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrupoAcessoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
